


.basic-text{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.inner{
    .basic-text{
        margin-top: 20px;
    }
}

.basic-text{
    span{
        font-weight: bold;
        color: #0099FC
    }
}

.home_page_btn{
    margin : auto;
    text-align: center;
    line-height: 40px;
    width : 70%;
    height : 40px;
    border : 1px solid  #f2f2f2;
    border-radius: 7px;
    margin-bottom: 100px;
    font-size: 15px;
    font-weight: 700;
    color: rgba(61, 61, 61);
}
.home_page_btn:last-child{
    margin-bottom: 0
}

.star{
    margin-top: 4px;
    margin-right: 3px;
}

// 광고 배너

.adbannermain{
    //background: rgb(255 226 184);
    top: 0px;
    z-index: 10;
    height: 93px;
    width: 700px;
    margin-top: 25px;
    position: sticky;
    margin-bottom: 25px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-grow: 2; /* 이미지를 세로 가운데에 배치 */
    justify-content: center;
    // background-image: url('../../img/화장품\ 이미지3.jpg');
}



.adbannercontainer{
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    justify-content: center; /* 이미지를 가로 가운데에 배치 */
    align-items: center;
}

.adbannercontainer img {
    width: 100%; /* 이미지의 너비를 100%로 설정 */
    height: auto; /* 이미지의 높이는 자동으로 조정 */
    object-fit: cover; /* 이미지를 배너 크기에 맞춰 자르기 */
}



.adbannertext,
.adbannerbutton {
    position: absolute; /* 텍스트를 배경 이미지 위에 겹치게 배치 */
}



.adbannertext {
    top: 38%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgb(112, 112, 112);
}

.adbannerbutton {
    top: 72%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0px 0px 10px #ffe600;
}


.homeright {
    height: 13px;
    padding-left: 3px;
}

.perfume{
    // border : 1px solid #000;
    border-radius: 40px;
    overflow : hidden;
    img{
        height :500px;
    }
    div{
        
        // height: 70px;
        // background-color: green;
    }
}

.personalpick_keyword {
    padding-top: 20px;
    margin-bottom: -40px;
}

.choies_rank {
    margin-top: -133px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.week_keyword {
    font-size: 15px;
    color: black;
    display: inline;
}