.scroll__container {
    position: fixed;
    bottom: 7%;
    margin-left: 655px;
    z-index: 1;
}

  #topbtn{
    font-weight: bold;
    font-size: 15px;
    padding :15px 15px;
    background-color: hsla(0, 0%, 100%, .6);
    color:#000;
    border: 1px solid rgb(210, 204, 193);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }
  #topbtn:hover{
    color :rgb(142, 26, 26);
  }