.menucontainer{
    z-index: 500; 
    background : #fff; 
    border-radius : 10px; 
    padding : 5px 10px; 
    width : 300px;
}
.menu_sub_title{
    font-size : 20px;
    color : gray
}

.menu_box{
    p {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.menu_title{
    margin-left: 20px;
    font-size : 20px;
}