// 제목 
.subscriptiontext {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 21px;
    margin-top: 100px;
    font-weight: 600;
}

.subscriptiontext2 {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 21px;
    margin-top: 17px;
    font-weight: 600;
    margin-bottom: 100px;
}


// 텍스트 박스 1
.maintextbox {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-right: 40px;
    margin-left: 40px;
}

.firstbox {
    border: 1px solid rgba(205, 205, 205, 0.7019607843);
    border-radius: 8px;
    background-color: #ffffff;
    margin: 4px;
    padding: 33px;
    width: 185px;
    padding-bottom: 0px;
}

.firstboxtext {
    display: flex;
    margin-left: -28px;
    font-size: 17px;
    font-weight: 600;
    margin-top: -14px;
}

.firstboxtext2 {
    margin: auto;
    display: flex;
    margin-left: -28px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
}

.firstboxtext2_1 {
    margin: auto;
    display: flex;
    margin-left: -28px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
}

.firstboxtext2_2 {
    margin: auto;
    display: flex;
    margin-left: -28px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
}

.secondbox {
    border: 1px solid rgba(205, 205, 205, 0.7019607843);
    border-radius: 8px;
    background-color: #ffffff;
    margin: 4px;
    padding: 66px;
    width: 113px;
    height: 0px;
}

.secondboxtext {
    display: flex;
    margin-left: -59px;
    margin-top: -47px;
    font-size: 17px;
    font-weight: 600;
    width: 204px;
}

.secondboxtext2 {
    display: flex;
    margin-left: -58px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    width: 233px;
    margin-top: 23px;
}

.secondboxtext2_1 {
    display: flex;
    margin-left: -58px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    width: 213px;
}

.secondboxtext2_2 {
    display: flex;
    margin-left: -58px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    width: 213px;
}


// 텍스트 박스 2

.maintextbox2 {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 40px;
}

.thirdbox {
    border: 1px solid rgba(205, 205, 205, 0.7019607843);
    border-radius: 8px;
    background-color: #ffffff;
    margin: 4px;
    padding: 61px;
    width: 129px;
    height: 11px;
    margin-top: 44px;
}

.thirdboxtext {
    display: flex;
    margin-left: -56px;
    margin-top: -39px;
    font-size: 17px;
    font-weight: 600;
    width: 213px;
}

.thirdboxtext2 {
    display: flex;
    margin-left: -55px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    width: 255px;
    margin-top: 21px;
}

.thirdboxtext2_1 {
    display: flex;
    margin-left: -55px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    width: 213px;
}

.fourthbox {
    border: 1px solid rgba(205, 205, 205, 0.7019607843);
    border-radius: 8px;
    background-color: #ffffff;
    margin: 4px;
    height: 134px;
    margin-top: 45px;
    box-sizing: border-box;
    width: 247px;
}

.fourthboxtext {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-top: 21px;
    margin-left: 4px;

}

.fourthboxtext2 {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    margin-top: 21px;
    margin-left: 5px;

}

.fourthboxtext2_1 {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    margin-left: 5px;

}

.fourthboxtext2_2 {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    margin-left: 5px;

}







// 기초 구독 화면 쪽

.basicexplainmainbox {
    display: flex;
    margin-top: 125px;
}


.image1 {
    display: flex;
    float: right;
    margin-left: 110px;

}

.basictitlemainbox{

}

.basictitle {
    font-size: 23px;
    font-weight: 700;    
    line-height: 40px;
}

.basictitle2 {
    display: flex;
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
}

.basictextbox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.basictext {
    display: flex;
    font-size: 13px;
    color: gray;
    width: 353px;
}

.basictext2{
    display: flex;
    font-size: 13px;
    color: gray;
    margin-top: 17px;
}

.basictext3{
    display: flex;
    font-size: 13px;
    color: gray;
    margin-top: 17px;
    width: 314px;
}

.basicbutton {
    flex: 1 1 auto;
    padding: 11px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 600;
    text-decoration-line: none;
    cursor: pointer;
    margin-top: 17px;
    font-size: 11px;
    margin-left: -6px;
}
  
.btn-5:hover {
    background-position: right center; /* change the direction of the change here */
}

.btn-5 {
    background-image: linear-gradient(to right, #0099FC 50%, rgb(56 157 243) 50%, #ffecd2 100%);
}


// // 색조 구독 화면 쪽

// .huetitlemainbox{
//     margin-top: 190px;
// }

// .huetitle {
//     display: flex;
//     font-size: 26px;
//     font-weight: 700;
// }

// .huetitle2 {
//     display: flex;
//     font-size: 26px;
//     font-weight: 700;
// }

// .huetextbox{
//     margin-top: 20px;
// }

// .huetext {
//     display: flex;
//     font-size: 13px;
//     color: gray;
// }

// .huetext2{
//     display: flex;
//     font-size: 13px;
//     color: gray;
// }

// .huebutton {
//     flex: 1 1 auto;
//     padding: 11px;
//     text-transform: uppercase;
//     transition: 0.5s;
//     background-size: 200% auto;
//     color: rgb(255, 255, 255);
//     border-radius: 10px;
//     font-weight: 600;
//     text-decoration-line: none;
//     cursor: pointer;
//     margin-top: 17px;
//     font-size: 11px;
//     margin-left: -6px;
// }



// 기초+색조 화면
.freeexplainmainbox{
    display: flex;
    margin-top: 125px;
}

.image2 {
    display: flex;
    float: right;
    margin-left: 53px;
}

.basichuetitlemainbox{

}

.basichuetitle {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
}

.basichuetitle2 {
    display: flex;
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
}

.basichuetextbox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.basichuetext {
    display: flex;
    font-size: 13px;
    color: gray;
    width: 388px;

}

.basichuetext2{
    display: flex;
    font-size: 13px;
    margin-top: 17px;
    color: gray;
}

.basichuebutton {
    flex: 1 1 auto;
    padding: 11px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 600;
    text-decoration-line: none;
    cursor: pointer;
    margin-top: 17px;
    font-size: 11px;
    margin-left: -6px;
}


