.detailgraphbar_Container{
    display: inline-block;
    width: 37px;
    text-align: center;
}

.cntcounttext{
    box-sizing: border-box;
    border: 1px solid #ffffff;
    margin-left: 4px;
    margin-right: 4px;
    background: #0099FC;
    color: #ffffff;
    border-radius: 9px;
}

.detailgraphbarchart{
    // object-fit: fill;
}

.detailgraphbarchart_back {
    width: 5px;
    height: 62px;
    background-color: rgb(233 227 227);
    transform: scaleY(-1);
    transition: 0.3s;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.detailgraphbar_Title{
    word-break:break-all;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.detailgraphbar_main{
    display : flex;
    overflow-x: auto;
    scrollbar-width: none;
}