.rank_img{
    margin-right: 20px;
}

.rank_reviewscore{
    margin-bottom: 4px;
}

.rank_positivetext{
    font-size: 12px;
    padding-right: 3px;
    color: #005b98;
}

.rank_positivescore{
    font-size: 13px;
    color: #0099FC;
}

.review_maxmin {
    font-size: 13px;
    // color: #0088e3;
    font-weight: 600;
    background-color: #fffb00;
    margin-right: 506px;
}

.review_scoretext {

}

.review_max {
padding-right: 7px;
}

.review_min {

}