.rank_img{
    margin-left: 20px;
    margin-right: 20px;
}

.rank_reviewscore{
    margin-bottom: 4px;
}

.rank_positivetext{
    font-size: 12px;
    padding-right: 3px;
    color: #005b98;
}

.rank_positivescore{
    font-size: 13px;
    color: #0099FC;
}