.SkinType {
    display: flex;
    height: 50px;

    .left{
        display: flex;
        // 수직 중앙 정렬
        align-items: center;
        margin-left: 30px;
        width: 70px;
    }
    .center{
        display: flex;
        // height: 100px;
        // width: 500px;
        // flex: 1;
        // .barr{
        //     height: 10000000px;
        //     width: 10000px;
        // }
    }
    .right{
        // display: flex;
        flex: 1;
    }

}

.goodlike {
    margin: auto;
    line-height: 20px;
}

.badhate {
    margin: auto;
    margin-top: 5px;
}