.date_title{
    align-items: center;
    padding : 15px 0;
    padding-left: 10px;
    p{
        width : 400px;
        font-size :20px;
    }
    div{
        
        img{
            padding-left : 300px;    
            width : 20px;
            height : 20px;
        }

    }


}

.under_contents{
    height :70px;
    padding-left : 10px;
    border-bottom: 10px solid rgb(197, 197, 197);
}