.date_title{
    align-items: center;
    padding : 25px 0 25px 10px;
    p{
        width : 400px;
        font-size :19px;
        font-weight: 800;
    }
    div{
        
        img{
            padding-left : 250px;    
            width : 18px;
            height : 18px;
        }

    }


}

.under_contents{
    height :70px;
    padding-left : 15px;
    border-bottom: 10px solid rgb(234, 234, 234);
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}