#review{
    #head{
        height: auto;
        background-color: white;
    }
    #main{
        background-color: white;
        >table{
            width: 100%;
            
            th{
                background: gray;
                height: 30px;
                // width:20%;
                // 가운데 정렬
                // justify-content: center;
                // 수직
                vertical-align: middle;
                // 수평
                align-items: center;
            }
            td{
                height: 30px;
                text-align: center;
                vertical-align: middle;
                
            }
        }
            
        // tr{
        //     background-color: aqua;
        // }
        // >table{
        //     background: green;
        //     >thead{
        //         background: yellow;
        //     }

        // }







        .fst{
            // 가운데 정렬
            display: flex;
            // 수직
            align-items: center;
            // 수평
            // justify-content: center;
            
            height: 10vh;
            margin: 1vh 0.5vw;
                
            // 테두리 두께, 색상 지정
            border: 0vh solid gray;
    
            // 모서리 라운딩
            border-radius: 1rem;
    
            // 그림자 효과
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    
            // 배경 이미지로 선 추가
            background:
            linear-gradient(to right, 
                transparent 0, 
                rgba(0, 0, 0, 0.5) 1px, 
                // 선 위치
                transparent 2px) 33.333% 50%,
            linear-gradient(to right, 
                transparent 0, 
                rgba(0, 0, 0, 0.5) 1px, 
                transparent 2px) 66.666% 50%;
            background-size: 1px 50%; /* 선 길이를 절반으로 조정 */
            background-repeat: no-repeat;
            .left,.middle,.right {
                // 가운데 정렬
                display: flex;
                // 수직으로 배치
                flex-direction: column; // 세로 방향으로 정렬
                align-items: center; // 수평 가운데 정렬
                justify-content: center; // 수직 가운데 정렬
        
                width: 33.333%;
            }
        }
    }
}