.cos_conater{
    position: relative;
    top : -100px;
    background-color : rgba(255, 255, 255, 0);
    backdrop-filter: blur(6px);
    // opacity: 0.7;
    // background: linear-gradient(
    //     to bottom,
    //     rgba(255, 255, 255, 0) 10%,
    //     rgba(255, 255, 255, 0) 20%,
    //     rgba(255, 255, 255, 0) 40%,
    //     rgba(255, 255, 255, 0) 50%,
    //     rgba(255, 255, 255, 0) 70%,
    //     rgba(255, 255, 255, 0) 100%,
    // );
}

.brand_name{
    font-size: 15px;
    color: gray;
}

.cos_name{
    color: rgb(34, 33, 33);
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.cos_price{
    font-size: 17px;
    color: rgb(92, 89, 89);
    font-weight: bold;
    margin-top: 10px;
}
.cos_grade{
    color: rgb(92, 89, 89);
    font-size: 13px;
}

.cos_grade_cnt{
    color: rgb(156, 154, 154);
    font-size: 13px;

}

.swiper{
    height: 600px;
    margin-top :40px;
    margin-bottom :40px;
}
.slilder_img{
    
    height : 500px;
}