

.cos_rank_text{
    // display: inline-block;
    text-align: center;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 10px;

}

.leftimg{
    // display: inline;
    width: 25px;
    height: 20px;
    padding-top: 16px;
    padding-left: 10px;
    
}


.itemlist{
    margin-left: 30px;
}


.rank_btn{
    background-color: white;
    border-width: 0px;
    padding: 10px 0;
    font-size: 15px;
    color: #666666;
    margin-right : 4%;
    
}

.rank_btn_click{
    border-bottom : 3px solid black;
}



.totalcatebox{
    margin-bottom: 20px;
    margin-left: 10px;
    border-bottom: 2px solid #e9e8e8;
}