.footer{
    background-color: #efefef;
    color: rgb(126, 126, 126);
    font-size: 11px;
    padding: 5%;
    line-height: 150%;
    margin-right: -25px;
    margin-left: -25px;
}

.division_line{
    border-top: 1px solid rgb(202, 202, 202);
    margin-top: 10%;
    margin: 70px -25px 0 -25px;
}