#login,
#join{
    background-color: white;
    #wrapper{
        width: 500px ;
        margin: 0 auto;

        // test용
        height: 100vh;
        // background-color: greenyellow;
        #head{
            display: flex;
            height: auto;
            margin-top: 2vh;
            // 상하기준 중앙정렬
            align-items: center;
            background-color: white;

            .left{
                width: 50%;
                text-align: left;

                h1{
                    // 문자에만 (hover)범위 적용
                    display: inline;
        
                    font-weight: bold;
                    font-size: 23px;
                    padding: 0 0 0 25px;
                    color: #9ACD32;
                }
                h1:hover {
                    color: rgb(0, 204, 0);
                    // color: #6B8E23;
                    cursor: pointer; // 클릭할 수 있는 커서로 변경
                    transition: color 0.3s, transform 0.3s; // 부드러운 전환 효과
                }
            }

            .right{
                width: 50%;
                text-align: right;
                margin: 0 10px 0 0;

                button{
                    padding: 5px 12px;
                    font-size: 15px;

                    border-width: 0.1vh;
                    border-style: solid;
                    border-color: gray;
                    border-radius: 0.5vh;

                    // 마우스 올릴 때 커서 손모양으로 변환
                    cursor: pointer;
                    // hover 설정
                    transition: background-color 0.3s ease;
                }
                button:hover {
                    background-color: rgb(169, 169, 169);
                }

            }

            
        }

        
        #main{
            // margin-top: 2vh;
            width: 100%;
        
            background-color: white;
        
            .join_form{
                // display: flex;
                // 수직 정렬
                flex-direction: column;
                // 수평 정렬
                align-items: center;
                // box-sizing: border-box;
                
                // 위쪽 공간 띄움
                // padding: auto;
                padding: 1vh 10px 0 10px;
                margin-top: 15px;
                height: 20vh;

                h2 {
                    margin-bottom: 2.5vh;
                    font-size: 10vh;
                    color: #333;
                
                    // position: left;
                    font-weight: bold;
                    font-size: 3.5vh;
                }
            }
            
            .textbox{
                display: flex;
                align-items: center;

                // 100 - 패딩6, 마진4
                width: 100%;
                // padding: 3%;
                // margin: 0 30px 0 30px;
                margin-bottom: 1.5vh;
            
                // font-size: 15px;
                // border-width: 0.1px;
                // border-radius: 10px;
                // border-style: solid;
                // border-color: gray;

                .imgbox{
                    width: 10%;
                    > img{
                        /* 이미지 위치 조절 */
                        padding-right: 1vw;
                
                        /* 이미지 크기 조절 */
                        height: 3vh;
                        width: 3vh;
                    }
                }
                // 입력 필드 스타일
                .inputbox {
                    // height: 100%;
                    width: 90%;

                    padding: 3%;
                    // margin: 0 30px 0 30px;
                
                    font-size: 15px;
                    border-width: 0.1px;
                    border-radius: 10px;
                    border-style: solid;
                    border-color: gray;
                }

            }




            .checkbox {
                margin-top: 10px;
                p{
                    padding: 5%;
                }

                .left{
                    font-size: 15px;
                    font-weight: bold;
                    
                    width: 100px;
                }
                // .right{
                //     margin: 10px 0;
                // }
                .spacer {
                    height: 20px; // 원하는 공백 높이 설정
                }
            }

            // 버튼 스타일
            .buttonbox{
                .left, .right{
                    width: 50%;
                }

            }
            
            .button_login{
                display: flex;
                // width: 90%;
                margin-bottom: 1.5vh;
            }

            .button_2{
                display: flex;
                width: 100%;
                // padding: 0.5vw;
            }

            button {
                height: 4.5vh;
                width: 100%;
                // padding: 0.5vw;
                margin: 0vh 2% 5px 2%;
                
                border-width: 0.1vh;
                border-style: solid;
                border-color: gray;
                border-radius: 0.5vh;
            
                // background-color: #007bff;
                // color: #fff;
                font-size: 18px;
                // font-weight: bold;
            
                // 마우스 올릴 때 커서 손모양으로 변환
                cursor: pointer;
                
                // hover 설정
                transition: background-color 0.3s ease;
            }
            
            
            button:hover {
                background-color: rgb(169, 169, 169);
            }
        }
    }
}
