.tempSkin_Container{
    display: inline-block;
    width : 80px;
    text-align: center;
}

.skinChart{

}

.skinChart_back{
    width : 50px;
    height : 100px;
    background-color: rgb(241, 238, 238);
    transform: scaleY(-1); 
    transition: .3s;
    
    border : none;
    border-radius: 10px;
    overflow : hidden;
    margin : auto;
}

.tempskin_Title{
    word-break:break-all;
}

.temSkin_main{
    display : flex;

    overflow-x: auto;
    scrollbar-width: none;
}

